<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />

<%block name="pagetitle">Legal</%block>
<%block name="bodyclass">static</%block>

<section class="container legal">

<h1>Legal</h1>
<p>
    <strong>Big Data University</strong> is designed primarily as an <strong>educational resource</strong>. It is not intended to provide inclusive information.
</p>
<p>
    While <a href="/">BigDataUniversity.com</a> uses reasonable efforts to include <em>accurate</em> and <em>up-to-date information</em> on its web site, it makes no representations as to the accuracy, timeliness or completeness of that information. In using this web site, you agree that its information and services are provided <em>&#8220;as is, as available&#8221;</em> without warranty, express or implied, and that you use this information at your own risk.
</p>
<p>
    You further agree that <a href="/">BigDataUniversity.com</a>, and any other parties involved in creating and delivering its site&#8217;s contents have no liability for direct, indirect, incidental, punitive, or consequential damages with respect to the information, services, content, or advertisements contained on or otherwise accessed through its web site.
</p>
<p>
    <a href="/">BigDataUniversity.com</a> does not rent, sell or exchange user information.
</p>

<h1>Trademarks</h1>
<p>
    <strong>IBM</strong>, the IBM logo, and <a href="http://ibm.com/">ibm.com</a> are trademarks or registered trademarks of International Business Machines Corp., registered in many jurisdictions worldwide. <strong>DB2</strong> and <strong>InfoSphere</strong> are registered trademarks of IBM. A current list of IBM trademarks is available on the <a href="http://www.ibm.com/legal/copytrade.shtml">IBM&#8217;s copyright and trademark information page</a>.
</p>
<p><strong>Java</strong> and all Java-based trademarks are trademarks of Sun Microsystems, Inc. in the United States, other countries, or both.</p>
<p><strong>Microsoft</strong> and <strong>Windows</strong> are trademarks of Microsoft Corporation in the United States, other countries, or both.</p>
<p><strong>Linux</strong> is a registered trademark of Linus Torvalds in the United States, other countries, or both.</p>
<p><strong>UNIX</strong> is a registered trademark of The Open Group in the United States and other countries.</p>
<p>Other company, product, or service names may be trademarks or service marks of others.</p>
</section>
