<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />

<%block name="pagetitle">Sobre</%block>
<%block name="bodyclass">static</%block>

<section class="container about">
<h1>Sobre Nós <small>Sobre a Big Data University</small></h1>
  <section class="about-us">
    <section>
      <h2>Who We Are</h2>
      <p>
        A bunch of new and experienced Hadoop, Spark, Big Data, Analytics and 
        Data Science enthusiasts who want to learn, contribute, and network 
        with others with similar interests. Our community includes open source 
        enthusiasts, the academia, professionals, and companies including IBM, 
        MetiStream, and DataCamp.
      </p>
    </section>
    <section>
      <h2>Our Mission</h2>
      <p>
        Make Big Data and Data Science education available to everyone, and 
        start a journey of discovery to change the world! Big data technologies 
        such as Hadoop and Spark paired with Cloud Computing can let even 
        students explore data that can lead to important discoveries in the 
        health industry, the environment, and any other area you can think of!
      </p>
    </section>
    <section>
      <h2>Our Courses</h2>
      <p>
        They are mostly free, developed by experienced professionals and 
        teachers, and nicely structured. Most courses include hands-on labs 
        that you can perform on the Cloud, on Docker, or VMWare images, or by 
        locally installing the required software. Pass the course test to print 
        your certificate of completion, and to receive and industry-recognized 
        badge!
      </p>
    </section>
    </section>
 
<p><strong>Big Data University</strong> is an online educational site run by new and experienced <strong>Hadoop</strong>, <strong>Big Data</strong> and <strong>DB2</strong> users who want to <em>learn</em>, contribute with <em>course materials</em>, or look for <em>job opportunities</em>.</p>
<p>The site includes <em>free</em> and fee-based courses delivered by experienced professionals and teachers.</p>
<p>Big Data University is hosted on the <strong>Cloud</strong>, and is run by a group of enthusiasts from around the world. They use <strong>Moodle 2</strong> course management system enabled to run on <strong>DB2</strong>.</p>
<p>If you would like to provide feedback, contribute with free or fee-based courses, or have questions, please <a title="Contact Us" href="http://bigdatauniversity.com/contact/">contact us</a>.</p>
</section>
