<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />

<%block name="pagetitle">Legal</%block>
<%block name="bodyclass">static</%block>

<section class="container legal">

<h1>Legal</h1>
<p>
    <strong>Big Data University</strong> é, antes de tudo, um <strong>recurso educacional</strong>. Não tem como obejetivo prover informações inclusivas. 
</p>
<p>
    Por mais que a <a href="/">BigDataUniversity.com</a> use todos os recursos disponíveis para incluir <em>informações precisas</em> e <em>atualizadas</em> em seus web-sites, não há garantias de precisão, atualização ou plenitude dessas informações. Ao usar esse web-site, você concorda que suas informações e serviços são providenciados <em>"como são, como estão disponíveis"</em>, sem garantia, expressa ou implícita, and que você irá usar essas informações ao seu próprio risco.
</p>
<p>
    Você também concorda que <a href="/">BigDataUniversity.com</a>, e qualquer outra parte envolvida em criar e distribuir o conteúdo desse site naão possue nenhuma responsabilidade sobre danos diretos, indiretos, incidental, punitivo, ou consequencial no que diz respeito às informações, serviços, conteúdo, ou propagandas contidas ou acessadas através deste web-site. 
</p>
<p>
    <a href="/">BigDataUniversity.com</a> não aluga, vende e nem troca informações de seus usuários.
</p>

<h2>Marcas</h2>
<p>
    <strong>IBM</strong>, o logo IBM, e <a href="http://ibm.com/">ibm.com</a> são marcas ou marcas registradas International Business Machines Corp., registrada em diversas juridições ao redor do mundo. <strong>DB2</strong> e <strong>InfoSphere</strong> são marcas registradas da IBM. Uma lista atualizada das marcas pertencentes à IBM está disponível na <a href="http://www.ibm.com/legal/copytrade.shtml">página de informações de marcas e direitos de cópias da IBM</a>. 
</p>
<p>
    <strong>Java</strong> e todas marcas baseadas em Java pertencem à Sun Microsystems, Inc. nos Estados Unidos, outros países, ou ambos.
</p>
<p>
    <strong>Microsoft</strong> e <strong>Windows</strong> são marcas pertencentes à Microsoft Corporation nos Estados Unidos, outros países, ou ambos.
</p>
<p>
    <strong>Linux</strong> é uma marca registrada de Linus Torvalds nos Estados Unidos, outros países, ou ambos.
</p>
<p>
    <strong>UNIX</strong> é uma marca registrada da The Open Group nos Estados Unidos, outros países, ou ambos.
</p>
<p>
    Outros nomes de empresas, produtos, ou serviços podem ser marcas de outros
</p>
</section>
