<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />

<%block name="pagetitle">Contato</%block>
<%block name="bodyclass">static</%block>

<section class="container contact">
<h1>Contato <small>Contate a Big Data University</small></h1>
<p>
    If you would like to <em>host a course</em> on Big Data University, or contact us for any issue related to this web site, send us an e-mail at: <a href="mailto:admin@bigdatauniversity.com" target="_blank">admin@bigdatauniversity.com</a>
</p>
<p>
    For any help or support topic, please be sure to check our <a title="Big Data University Support Center" href="http://support.bigdatauniversity.com/" target="_blank">support center</a> first.
</p>
<p>
    You can also reach us through:
</p>
