<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />

<%block name="pagetitle">Sorteio</%block>
<%block name="bodyclass">static</%block>

<section class="container promo">
    <h1>
        Ganhe um Apple Watch!
        <small>Concorra a um de três Apple Watch que serão dados na CSBC e Campus Party</small>
    </h1>
    <p>
        É simpes participar:
    </p>
    <ol>
        <li>Registre-se em <a href="/">BigDataUniversity.com.br</a></li>
        <li>Passe no maior número possível de cursos online. É GRÁTIS!</li>
    </ol>
    <p>
        O vencedor do primeiro Apple Watch será anunciado na CSBC no dia 23 de julho de 2015 (deve estar presente no evento).
    </p>
    <p>
        O vencedor do segundo Apple Watch (que não ganhou o primeiro) será anunciado na Campus Party Recife, no dia 25 de julho de 2015 (deve estar presente no evento).
    </p>
    <p>
        O vencedor do terceiro Apple Watch (que não ganhou antes) será anunciado na Campus Party Recife, no dia 25 de julho de 2015 (não precisa estar no evento).
    </p>
    <p>
        Como desempate será usada a média das notas finais de todos os cursos. Se ainda houver empate, haverá um quiz para decidir o vencedor. Para o terceiro Apple Watch, se o vencedor não estiver presente na Campus Party Recife, será realizado um quiz pelo telefone
    </p>
</section>
