<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />

<%block name="pagetitle">Sobre</%block>
<%block name="bodyclass">static</%block>

<section class="container about">
<h1>Sobre Nós <small>Sobre a Big Data University</small></h1>
<section class="about-us">
    <section>
      <h2>Quem somos</h2>
      <p>
      Um monte de novatos e experientes entusiastas de <b>Hadoop</b>, <b>Spark</b>, <b>Big Data</b>, <b>Análise</b> e i<b>Ciência de Dados</b> que querem aprender, contribuir e se relacionar com outras pessoas com os mesmo interesses. Nossa comunidade é feita de entusiastas em código aberto, acadêmicos, profissionais e empresas, incluindo <b>IBM</b>, <b>MetiStream</b> e <b>DataCamp</b>.
      </p>
    </section>
    <section>
      <h2>Nossa Missão</h2>
      <p>
      Tornar o ensinamento de Big Data e Ciência de Dados <b>disponível a todos</b>, e começar uma jornada de descobertas para mudar o mundo! Tecnologias de Big Data, como Hadoop e Spark, combinadas Computação na Nuvem permitem que até estudantes explorem dados que podem levar a descobertas importantes em saúde, meio ambiente, e qualquer outra área que você possa imaginar!
      </p>
    </section>
    <section>
      <h2>Nossos Cursos</h2>
      <p>
      Eles são em sua maioria <b>gratuitos</b>, desenvolvidos por profissionais experientes e professores, e bem estruturados. A maior parte dos cursos possuem <b>laboratórios práticos</b> que você pode usar na <b>Nuvem</b>, com <b>Docker</b>, ou images de <b>VMWare</b>, ou instalando os softwares necessários no seu próprio computador. Passe no exame do curso para imprimir o seu certificado de conclusão e para receber um badge reconhecido pela indústria!
      </p>
    </section>
</section>
 
<p>
    Se você tiver alguma dúvida, sugestão ou se você gostaria de contribuir com um curso gratuito, por favor <a title="Contact Us" href="/contact">entre em contato conosco</a>.
</p>
</section>
