.login, .register, .passwordreset, #forgot-password-modal #password-reset {
    a {
        &:link, &:visited, &:hover, &:active, &:focus {
            color: $green;
        }
    }

    aside {
        width: 280px - 2px;
    }

    form {
        .field {
            &.is-focused {
                label, .tip {
                    color: $orange;
                }
            }
        }
    }
}

.view-register, .view-login, .view-passwordreset {
    .introduction {
        header {
            border-left: 1px solid $border-color-2;
            border-right: 1px solid $border-color-2;
     
            .title {
                .title-super {
                    color: $green;
                }
            }
        }
    }
}

// password reset
.view-passwordreset {
  .introduction {
    header {
        border-bottom: none;
    }
  }
}

