.find-courses, .university-profile {
    background: none;
    padding-bottom: 0;

    header.search {
        background-image: url('../themes/bdu/images/background-header.jpg');

        .inner-wrapper {
            padding-top: 100px;
        }
    }
}
