.corner-ribbon {
    width: 150px;
    background: $orange;
    position: absolute;
    top: 12.5px;
    left: -50px;
    text-align: center;
    line-height: 25px;
    color: $white;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    font-weight: 900;
    z-index: 999;
    
    &.sticky { 
        position: fixed;
    } 

    &.shadow {
        box-shadow: 0 0 3px $shadow;
        text-shadow: 2px 2px $shadow;
    }

    &.top-right {
        top: 12.5px;
        right: -50px;
        left: auto;
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
    }
}

header.global {
    background-color: $gray-d3;
    border-bottom: 4px solid #A9A9A9;
    height: auto;

    &.slim {
        background-color: $gray-d3 !important;

        nav {
            padding: 0;
        }

        h1.logo {
            margin-right: 15px !important;

            img {
                height: 20px !important;
            }
        }

        h2 {
            color: $white !important;
            text-shadow: none !important;

            span {
                color: $white;
            }
        }
    }

    nav {
        padding: 10px 0;
        height: auto;
    }
    
    h1.logo {
        margin-left: 30px;
        margin-top: 2px;
    }

    .primary {
        > a {
            background-color: $white;

            &:hover, &:focus, &:active {
                background: $white;
            }
        }
    }
    
    .nav-global {
        li, div {
            font-size: em(18);

            a {
                color: $white;
                font-weight: normal;

                &:hover, &:focus, &:active {
                    color: $green;
                }
            }
        }
    }

    .nav-courseware {
        li, div {
            .cta {
                box-shadow: none;
                background: none;
                color: $white;
                text-transform: uppercase;
                font-size: em(18);
                font-weight: 600;
            }
        }
    }
}

.home header.global {
    background-color: $shadow;
    border-bottom: none;
    position: absolute;
    top: 0px;
}

// page-based nav states
.view-howitworks .nav-global-01,
.view-courses .nav-global-02,
.view-schools .nav-global-03,
.view-register .nav-global-04 {
  a {
    text-decoration: none;
    color: $orange-d2 !important;
  }
}

