header.global {
    background-color: $orange;
    border-bottom: 4px solid $orange-d2;
    
    h1.logo {
        margin-left: 30px;
    }

    .primary {
        > a {
            background-color: $white;

            &:hover, &:focus, &:active {
                background: $white;
            }
        }
    }
    
    .nav-global {
        li, div {
            font-size: em(18);

            a {
                color: $white;

                &:hover, &:focus, &:active {
                    color: $white;
                    text-decoration: underline;
                }
            }
        }
    }

    .nav-courseware {
        li, div {
            .cta {
                box-shadow: none;
                background: none;
                color: $white;
                text-transform: uppercase;
                font-size: em(18);
            }
        }
    }
}

.home header.global {
    background-color: $shadow;
    border-bottom: none;
    position: absolute;
    top: 0px;
}

// page-based nav states
.view-howitworks .nav-global-01,
.view-courses .nav-global-02,
.view-schools .nav-global-03,
.view-register .nav-global-04 {
  a {
    text-decoration: none;
    color: $orange-d2 !important;
  }
}

