@import '../base/base';

header.hero {
  background-image: url('../themes/bdu/images/background-header.jpg');
  background-position: top;
  background-color: #000;
  height: $header-height;

  .outer-wrapper {
    padding-top: 160px;
    @include animation(none);

    h1 {
      color:$gray-l5;
      font-weight: 300;
      text-shadow: $shadow 1px 1px, $shadow 2px 2px;
    }

    .title {
      background-color: rgba($bdu-main-bg, 0.6);
      width: $carousel-width + 2 * 20px;
      margin: 0 auto;
      float: none;
      -webkit-transition: none;
      -moz-transition: none;
      transition: none;

      > hgroup {
        padding: 20px;
        -webkit-transition: none;
        -moz-transition: none;
        transition: none;
      }
    }
  }
}
