<%namespace name='static' file='static_content.html'/>

<%
    slides = [
        'apache-spark-v4.jpg', 
        'BadgeBDULandingPage-1.jpg',
        'hadoop-hires-slider-v1.png',
        'NoSQL-and-DBaas-v11.png',
        'programming-for-analytics-v2.jpg',
    ]
%>
<div class="carousel">
    % for slide in slides:
        <img src="${static.url('themes/bdu/images/slides/{slide}'.format(slide=slide))}" />
    % endfor
</div>
<div class="carousel-btn carousel-left-btn"><i class="fa fa-chevron-circle-left"></i></div>
<div class="carousel-btn carousel-right-btn"><i class="fa fa-chevron-circle-right"></i></div>
