<%namespace name='static' file='static_content.html'/>

<%
    slides = [
        'campus-party-brazil.jpg',
        'csbc-brazil.jpg',
        'apache-spark-v4-brazil.jpg', 
        'digital-badge_v2_brazil.jpg',
    ]
%>
<div class="carousel">
    % for slide in slides:
        <img src="${static.url('themes/bdu/images/slides/{slide}'.format(slide=slide))}" />
    % endfor
</div>
<div class="carousel-btn carousel-left-btn"><i class="fa fa-chevron-circle-left"></i></div>
<div class="carousel-btn carousel-right-btn"><i class="fa fa-chevron-circle-right"></i></div>
