<header class="hero">
  <div class="outer-wrapper">
    <aside>
        <h1>Aprenda com os melhores da área</h1>
        <h2>Junte-se aos nossos <span id="counter"></span> membros e alavanque a sua carreira</h2>
    </aside>

    <div class="carousel-wrapper">
        <%include file="_carousel.html" />  
    </div>

    % if show_homepage_promo_video:
      <a href="#video-modal" class="media" rel="leanModal">
        <div class="hero">
          <div class="play-intro"></div>
        </div>
      </a>
    % endif
  </div>
</header>
 
