## mako
<%! from django.core.urlresolvers import reverse %>
<%namespace name='static' file='/static_content.html'/>
<%inherit file="/navigation.html"/>

## TODO: this will eventually be moved to the Sass
<%block name="navigation_logo">
    <img src="${static.url('themes/bdu/images/bdu-logo-light.png')}" alt="Home Page" />
</%block>

<%block name="navigation_global_links">
  <li class="nav-global-01">
    <a href="${marketing_link('CURRICULUM_MAP')}">Mapa Curricular</a>
  </li>
  <li class="nav-global-01">
    <a href="${marketing_link('BADGES')}">Badges</a>
  </li>
  <li class="nav-global-01">
    <a href="${marketing_link('RESOURCES')}">Recursos</a>
  </li>
</%block>
